.container {
  width: 700px;
}
body {
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  list-style: none;
  margin: 10px;
  text-align: center;
}
h2 {
  font-size: 11px;
  text-align: center;
}
.fa-map-marker-alt {
  color: red;
  font-size: 45px;
  margin-bottom: 10px;
}
.fa-redo-alt {
  color: blue;
}

.weather-app {
  padding: 15px;
  margin: 0px;
  border-radius: 10px;
  background: url("plane.gif");
  background-size: cover;
}
#temperature {
  color: #ffffff;
  position: relative;
  left: 125px;
  font-weight: 600;
  font-size: 125px;
}

.border-0 {
  margin: 20px;
}

#right-wing {
  text-align: left;
  font-weight: 600;
  color: white;
  list-style: none;
  text-transform: uppercase;
}

#temp-dates {
  margin: auto 0;
}

#city-input:valid {
  text-transform: uppercase;
}
#city {
  text-transform: uppercase;
  font-size: xx-large;
  color: white;
  text-shadow: -1px -1px 0 #5c636a, 0 -1px 0 #5c636a, 1px -1px 0 #5c636a,
    1px 0 0 #5c636a 1px 1px 0 #5c636a, 0 1px 0 #5c636a, -1px 1px 0 #5c636a,
    -1px 0 0 #5c636a;
}
#date {
  font-weight: 600;
  margin-top: 75px;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #5c636a, 0 -1px 0 #5c636a, 1px -1px 0 #5c636a,
    1px 0 0 #5c636a 1px 1px 0 #5c636a, 0 1px 0 #5c636a, -1px 1px 0 #5c636a,
    -1px 0 0 #5c636a;
}
#description {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #5c636a, 0 -1px 0 #5c636a, 1px -1px 0 #5c636a,
    1px 0 0 #5c636a 1px 1px 0 #5c636a, 0 1px 0 #5c636a, -1px 1px 0 #5c636a,
    -1px 0 0 #5c636a;
}

img {
}

footer {
  text-align: center;
  color: rgb(186, 208, 239);
  margin-bottom: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
