.container {
  margin-top: 50px;
  width: 100%;
  height: auto;
}
body {
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: auto;
}
h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  list-style: none;
  margin: 10px;
  text-align: center;
}
h2 {
  font-size: 11px;
  text-align: center;
}
.fa-map-marker-alt {
  color: red;
  font-size: 45px;
  margin-bottom: 10px;
}
.fa-redo-alt {
  color: blue;
}

.weatherApp {
  padding: 15px;
  margin: 0px;
  border-radius: 10px;
  background: url("images/sunrise.gif") no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

#temperature {
  color: #ffffff;
  position: relative;
  left: 125px;
  font-weight: 600;
  font-size: 125px;
  text-shadow: -1px -1px 0 #2d372f;
  width: 100%;
  height: auto;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.units :hover {
  text-decoration: none;
}
.units {
  position: relative;
  left: 125px;
  bottom: 70px;
  text-decoration: none;
}
.border-0 {
  margin: 20px;
}

#temp-dates {
  margin: auto 0;
  text-shadow: -1px -1px 0 #2d372f;
}
#city-input:valid {
  text-transform: uppercase;
}
#right-wing {
  text-align: center;
  font-weight: 600;
  color: white;
  list-style: none;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #2d372f;
}
#city {
  text-transform: uppercase;
  font-size: xx-large;
  color: #ffffff;
  text-shadow: -1px -1px 0 #2d372f;
}
#date {
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  font-size: 65px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-shadow: -1px -1px 0 #2d372f;
  text-align: center;
}
#description {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-shadow: -2px -1px 0 #2d372f;
}
.btn-secondary {
  text-shadow: -2px -1px 0 #2d372f;
}

footer {
  text-align: center;
  color: rgb(186, 208, 239);
  margin-bottom: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
